/* src/Chat.css */
body{
  background-color: white;
  width: 100%;
}
.chat-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  background: #f4f4f9;
  width: auto;
  font-family: 'Arial', sans-serif;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #ddd;
}

.chat-header h2 {
  margin: 0;
  font-size: 2rem;
  color: #333;
}

.profile-button,
.logout-button {
  background:#9B00D2;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.profile-button:hover,
.logout-button:hover {
  background-color: #8207ae;
}

.chat-body {
  display: flex;
  flex: 1;
  overflow: hidden;
  width: 100%;
}

.user-list {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.user {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.user img.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user.active {
  background-color: #f0f0f0;
}

.user-name {
  font-size: 16px;
  font-weight: bold;
}


.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.message-container {
  display: flex;
  flex-direction: column;
  flex: 1;

  padding: 10px;
  background: #ffffff;
  border-left: 1px solid #ddd;
}

.message-list {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.chat-input {
  display: flex;
  align-items: center;
  border-top: 1px solid #ddd;
  padding: 10px;
  width: 100px;
  background: #fafafa;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  width: 180px;
  border-radius: 5px;
  margin-right: 10px;
}

.chat-input button { 
  background-color: #07742f;
  color: #fff;
  padding-right: 30px;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
 
}

.chat-input button:hover {
  background-color: #044007;
}

.emoji-picker {
  display: flex;
  gap: 10px;
  padding-top: 10px;
}

.emoji-picker span {
  font-size: 1.5rem;
  cursor: pointer;
}
