/* Login.css */

/* Body Background Gradient */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Container Box */
.container {
  background: #ffffff; /* White background for the login box */
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  padding: 20px;
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  margin-top: 50px;
}

/* Heading */
h2 {
  margin: 0;
  font-size: 24px;
  color: #ff6f61; /* Vibrant Pink */
  font-weight: bold;
  margin-bottom: 20px;
}

/* Form */
form {
  width: 100%;
}

/* Form Labels */
label {
  font-size: 18px;
  color: #333; /* Dark text color */
}

/* Input Fields */
input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd; /* Light Gray Border */
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 16px;
}

/* Input Fields on Focus */
input:focus {
  border-color: #ff6f61; /* Vibrant Pink Border on Focus */
  box-shadow: 0 0 5px rgba(255, 111, 97, 0.5); /* Pink Glow */
}

/* Submit Button */
button {
  width: 100%;
  padding: 12px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  background-color:  #cb8c9c; /* Vibrant Pink Background */
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Submit Button Hover */
button:hover {
  background-color: #ce4f88;; /* Darker Pink on Hover */
  transform: scale(1.05); /* Slightly enlarge on hover */
}

/* Link */
.link {
  margin-top: 10px;
  font-size: 14px;
}

/* Link Text */
.link span {
  color: #333; /* Dark text color */
}

/* Link Anchor */
.link a {
  color: #00796b; /* Teal color for links */
  cursor: pointer;
  text-decoration: none;
  margin-left: 5px;
}

/* Link Hover */
.link a:hover {
  text-decoration: underline;
}
